<%= render "layouts/header" %>
<div class="container mt-5">
  <%= form_for(@product) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.label "名前" %>
      <%= f.text_field :name, class: "form-control", placeholder: "商品名を入力(必須)" %><br />

      <div class="form-row">
        <div class="form-group col-sm-6">
          <%= f.label "タンパク質[g]" %>
          <%= f.text_field :protein, class: "form-control", placeholder: "半角入力(必須)" %><br />
        </div>
        <div class="form-group col-sm-6">
          <%= f.label "脂質[g]" %>
          <%= f.text_field :fat, class: "form-control", placeholder: "半角入力(必須)" %><br />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-6">
          <%= f.label "炭水化物[g]" %>
          <%= f.text_field :carbo, class: "form-control", placeholder: "半角入力(必須)" %><br />
        </div>
        <div class="form-group col-sm-6">
          <%= f.label "糖質[g]" %>
          <%= f.text_field :sugar, class: "form-control", placeholder: "半角入力(任意)" %><br />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-6">
          <%= f.label "カロリー[kcal]" %>
          <%= f.text_field :calory, class: "form-control", placeholder: "半角入力(任意)" %><br />
        </div>
        <div class="form-group col-sm-6">
          <%= f.label "価格[円]" %>
          <%= f.text_field :price, class: "form-control", placeholder: "半角入力(任意)" %><br />
        </div>
      </div>
      <%= f.label "リンク" %>
      <%= f.text_field :purchase_url, class: "form-control url-input", placeholder: "https://....(任意)"  %><br />
      <%= render 'layouts/error_messages', model: f.object %>
      <%= f.submit "投稿する", class: "btn btn-orange text-white my-3" %><br />
      <%= link_to "キャンセル", root_path %>
    </div>
    <div class="col-md-6">
      <%= fa_icon "tags" %>
      <%= f.label "タグ付け" %>
      <small id="tagHelpBlock" class="form-text text-muted">
        入力候補から選ぶかカンマ(,)で区切って入力してください
      </small>
      <div class="input_form">
        <%= f.text_field :tag_list, value: @product.tag_list.join(','), class: "tag_form tagit-hidden-field", name: "product[tag_list]", id: "product_tag_list", "aria-describedby": "tagHelpBlock" %>
      </div>
      <div id="img_field" onClick="$('#file').click()">
        <% if @product.image.url.present? %>
        <%= image_tag(@product.image.url) %>
        <% else %>
        <i class="fas fa-image"></i><i class="fas fa-file-upload add"></i>
        <% end %>
      </div>
      <%= f.file_field :image, class: "image", style: "display:none;", id: "file"%>
    </div>
  </div>
  <% end %>
</div>