<%= form_for @inquiry, url: inquiry_thanks_path do |f| %>
  <div>
    お問い合わせ
  </div>

  <table class="table">
    <tr>
      <th scope="row">名前</th>
      <td>
        <%= f.hidden_field :name %>
        <%= @inquiry.name %>
      </td>
    </tr>
    <tr>
      <th scope="row">メールアドレス</th>
      <td>
        <%= f.hidden_field :email %>
        <%= @inquiry.email %>
      </td>
    </tr>
    <tr>
      <th scope="row">お問い合わせ内容</th>
      <td>
        <%= f.hidden_field :message %>
        <%= @inquiry.message %>
      </td>
    </tr>
  </table>

  <%= f.submit "送信", class: "btn btn-primary my-3" %><br/>
  <%= link_to "戻る", root_path %>

<% end %>