<%= Gon::Base.render_data %>
<%= render "layouts/header" %>
<div class="container mt-3">
  <div class="row product-detail">
    <div class="col-md product-detail__left">
      <div class="product-detail__left__image">
        <% if @product.image_url %>
        <%= image_tag @product.image_url, alt: "aaa", size: "300x300" %>
        <% else %>
        <%= image_tag "noimage.jpg", alt: "aaa", size: "350x350" %>
        <% end %>
      </div>
      <% if user_signed_in? && @product.user.id != current_user.id %>
      <div class="product-detail__left__button" id="show_favorite_<%= @product.id %>"">
        <%= render partial: 'favorites/favorite', locals: { product: @product} %>
      </div>
      <div class=" product-detail__left__button" id="show_like_<%= @product.id %>">
        <%= render partial: 'likes/like', locals: { product: @product} %>
      </div>
      <% end %>
      <div class="product-detail__left__response-list">
        <%= fa_icon "thumbs-up" %>
        <small id="likes_count_<%= @product.id %>">
          <%= @product.likes.size %>
        </small>
        <%= fa_icon "heart" %>
        <small id="favorites_count_<%= @product.id %>">
          <%= @product.favorites.size %>
        </small>
        <%= fa_icon "comment" %>
        <small><%= @product.reviews.size%></small>
      </div>
      <div class="d-block text-center my-1">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button mt-2" data-show-count="false" data-text="PFC.comの投稿をシェアします！" data-hashtags="pfcdotcom" data-size="large">
          Tweet
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="d-block text-center mb-1">
        <div class="btn-group mx-auto" role="group" aria-label="Basic example">
          <% if @product.purchase_url %>
          <%= link_to @product.purchase_url, class: "btn btn-secondary" do %>
          <%= fa_icon "link" %>
          <% end %>
          <% end %>
          <% if user_signed_in? && @product.user.id == current_user.id %>
          <%= link_to "/products/#{@product.id}/edit", class: "btn btn-secondary", method: :get do %>
          <%= fa_icon "pencil-alt" %>
          <% end %>
          <%= link_to "/products/#{@product.id}", class: "btn btn-secondary", method: :delete, data: { confirm: "商品を削除します。よろしいですか?"} do %>
          <%= fa_icon "trash"%>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md product-detail__right">
      <h3 class="product-detail__name text-break">
        <%= @product.name %>
      </h3>
      <div class="product-detail__date">
        <span class="text-muted"><i class="far fa-clock pr-2"></i><%= @product.created_at.to_s(:datetime) %></span>
        <% if @product.new_arrival? %>
        <span class="badge badge-gray ml-1">New</span><br />
        <% end %>
      </div>
      <div>
        投稿者：
        <%= link_to '', controller: 'users', action: 'show', id: @product.user_id, method: :get do %>
        <%= @product.user.nickname %>
        <% end %>
      </div>
      <div class="d-block">
        <% if @product.ave_rate? %>
        <div class="review-rating d-inline-block" data-score="<%= @product.ave_rate.round(2) %>"></div>
        <% else %>
        <div class="review-rating d-inline-block" data-score="0"></div>
        <% end %>
      </div>
      <ul class=" product-detail__list">
        <li class="product-detail__list__item">
          タンパク質:
          <% if @product.protein? %>
          <span class="product-detail__list__item__number"><%= @product.protein.to_f %></span>g
          <% end %>
        </li>
        <li class="product-detail__list__item">
          脂質:
          <% if @product.fat? %>
          <span class="product-detail__list__item__number"><%= @product.fat.to_f %></span>g
          <% end %>
        </li>
        <li class="product-detail__list__item">
          炭水化物:
          <% if @product.carbo? %>
          <span class="product-detail__list__item__number"><%= @product.carbo.to_f %></span>g
          <% end %>
        </li>
        <li class="product-detail__list__item">
          糖質:
          <% if @product.sugar %>
          <span class="product-detail__list__item__number"><%= @product.sugar.to_f %></span>g
          <% else %>
          <span class="product-detail__list__item__number"> - </span>g
          <% end %>
        </li>
        <li class="product-detail__list__item">
          カロリー :
          <% if @product.calory? %>
          <span class="product-detail__list__item__number"><%= @product.calory.to_f %></span>kcal
          <% else %>
          <span class="product-detail__list__item__number"> - </span>kcal
          <% end %>
        </li>
        <li class="product-detail__list__item">
          価格 :
          <% if @product.price? %>
          <span class="product-detail__list__item__number"><%= @product.price %></span>円
          <% else %>
          <span class="product-detail__list__item__number"> - </span>円
          <% end %>
        </li>
      </ul>
    </div>
    <div class="col-md">
      <canvas id="myChart" width="100" height="100"></canvas>
      <div class="product-detail__footer__tag-list">
        <span><%= fa_icon "tags" %>タグ</span><br />
        <%= render "tag_list", tag_list: @product.tag_list %><br />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="review__form mt-3">
          <%= form_for [@product, @review] do |f| %>
          <div class="form-group">
            <div class="field" id="rating-form">
              <%= f.label "星評価" %>
              <%= f.hidden_field :rate, id: :review_rate %>
            </div>
            <%= f.label "コメント" %>
            <%= f.text_area :text, class: "form-control" %><br />
          </div>
          <%= f.submit "レビュー投稿", class: 'btn btn-orange text-white mb-3' %>
          <% end %>
        </div>
        <div class="review__title">
          <%= fa_icon "comments" %>
          <h5 class="review__title d-inline-block">レビュー</h5>
        </div>
        <div class="review__list">
          <% if @reviews.exists? %>
          <% @reviews.each do |review| %>
          <div class="row review__list__item">
            <div class="col-2 review__list__item__avatar">
              <%= link_to "users/#{review.user.id}", method: :get do %>
              <% if review.user.avatar.attached? %>
              <%= image_tag review.user.avatar, class: "review__list__item__avatar__img" %>
              <% else  %>
              <%= image_tag "user_image.png", class: "review__list__item__avatar__img" %>
              <% end %>
              <% end %>
            </div>
            <div class="col-10">
              <div id="star-rate-#{review.id}">
                <div class="review-rating" data-score="<%= review.rate %>"></div>
              </div>
              投稿者：
              <%= link_to "users/#{review.user.id}", method: :get do %>
              <%= review.user.nickname %>
              <% end %>
              <small class="ml-2 text-muted"><%= review.created_at.to_s(:datetime) %></small>
              <div class="review__content">
                <pre><%= review.text %></pre>
              </div>
            </div>
          </div>
          <% end %>
          <%= paginate @reviews %>
          <% else %>
          <h6 class="ml-2">レビューはありません。</h6>
          <% end %>
        </div>
      </div>
      <div class="col-md">

        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="same-tag-tab" data-toggle="tab" href="#same-tag" role="tab" aria-controls="same-tag" aria-selected="true">同じタグの投稿</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="same-user-tab" data-toggle="tab" href="#same-user" role="tab" aria-controls="same-user" aria-selected="false">同じユーザーの投稿</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="same-tag" role="tabpanel" aria-labelledby="same-tag-tab">
            <% if @same_tagged_products %>
            <div class="d-flex flex-wrap justify-content-around">
              <%= render partial: 'product', collection: @same_tagged_products, as: 'product' %>
            </div>
            <%= paginate @same_tagged_products %>
            <% else %>
            <h6 class="mt-2 ml-2">同じタグの投稿はありません。</h6>
            <% end %>
          </div>
          <div class="tab-pane fade" id="same-user" role="tabpanel" aria-labelledby="same-user-tab">
            <% if @same_user_products.exists? %>
            <div class="d-flex flex-wrap justify-content-around">
              <%= render partial: 'product', collection: @same_user_products, as: 'product' %>
            </div>
            <%= paginate @same_user_products %>
            <% else %>
            <h6 class="mt-2 ml-2">同じユーザーの投稿はありません。</h6>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    starOff: "<%= asset_path('star-off.png') %>",
    starOn: "<%= asset_path('star-on.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>

<script>
  $('#rating-form').raty({
    size: 36,
    starOff: "<%= asset_path('star-off.png') %>",
    starOn: "<%= asset_path('star-on.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[rate]',
    half: true,
  });
</script>



<script>
  $('.review-rating').raty({
    readOnly: true,
    starOff: "<%= asset_path('star-off.png') %>",
    starOn: "<%= asset_path('star-on.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score');
    },
  });
</script>

<script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: ['タンパク質', '脂質', '炭水化物'],
      datasets: [{
        label: 'マクロ栄養素',
        data: gon.nutrition,
        // 塗りつぶしの色
        backgroundColor: "rgba(248,184,98,0.5)",
        // 線の色
        borderColor: "rgba(240,131,0,1)",
        // 線の幅
        borderWidth: 2,
        pointBackgroundColor: "rgba(240,131,0,1)",
        pointStyle: "circle",
      }]
    },
    options: {
      legend: {
        labels: {
          fontSize: 15,
        }
      },
      tooltips: {
        titleFontSize: 12,
      },
      scale: {
        pointLabels: {
          display: true,
          fontSize: 15,
          fontColor: "rgba(0,0,0,1)",
        }
      }
    }
  });
</script>
<%= render "layouts/footer" %>